<script type="text/ng-template" id="requestRefund.html">
   <div class="modal fade show">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title confirmDelete">Archive and Refund {{modalCtrl.data.casenumber}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <b>This action will send an email requesting a refund and archive this case?</b><br>
          (This will remove the file from your dashboard)
          <div data-ng-show="showErrorMsg" class="errorMsg vmt-20">{{errorMsg}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-default" ng-click="modalCtrl.refundAndArchive()">Yes, proceed</button>
        </div>
      </div>
    </div>
   </div>
</script>
