<div class="modal">
 <div class="modal-dialog modal-sm modalCentered">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title">Title</h4>
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     </div>
     <div class="modal-body">
       Content
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>
