<script type="text/ng-template" id="filter/tagHeader.html">
      <div class="dropdownThFilter">
        <button id="101" class="btn" ng-click="showTagFilterDropdown()" style="padding:0 9px 0 0; min-height:30px;">
          <div id="100" class="tagFilterStyle" style="background-color:{{tagColor}}; border: 1px solid {{tagBorder}};"></div>
          <i id="99" class="fa fa-caret-down"></i>
        </button>
        <ul ng-show="showTagDropdown"  style="z-index:1200;">
          <li ng-click="filterTag()">All</li>
          <li ng-repeat="tag in tagSelections" ng-click="filterTag(tag)">
              <div ng-if="tag.id"  ng-class="{'defaultTag' : !case.tag.id}" class="tagStyle" style="background-color:{{tag.color}};">{{tag.name}}</div>
          </li>
        </ul>
      </div>
</script>

<table ng-table="casesTable" class="table table-condensed table-bordered table-striped casesTable" >
    <tr ng-class="{rushOrderAdmin: case.isRushOrder == true }"
        ng-repeat="case in $data | orderBy: ['-isRushOrder']
         | filter: { status: { id: diagnosticFilter3 } }:filterByStatus2
         | filter: {adminHide: showHideCases}
         | filter: {tag: {title: tagFilter} }
         | filter: byFormattedDateFilter"
        ng-if="!(case.status.id === 7) && !(case.status.id === 1)
        ">

    <td class="goToCase" title="'Case #'" data-title="'Case #'" filter="{'casenumber': 'text'}" sortable="'casenumber'" ng-click="gotocase(case)">
      <div class="caseNumberWithReportImages">
        <div>{{case.casenumber}}</div>
        <div class="radiologyReportImg">
          <img data-ng-show="case.includeRadiologyReport" src="/images/AirwayIcon.png">
          <img data-ng-show="case.includeSassouniPlus" src="/images/sassouniPlus.png">
        </div>
      </div>
    </td>
    <td class="" data-title="'Provider'" filter="{'requestedby.name': 'text'}" sortable="'requestedby.name'">{{case.requestedby.name}}</td>
    <td class="" data-title="'Patient'" filter="firstLastNameFilter" sortable="'info.lastname'">
      <div class="flexBox">
        <div><img class="profileImg tableImg" src="{{contentUrl+case.photos.facial.bigsmile}}"></div>
        <div class="tablePatientName">{{case.info.firstname + " " + case.info.lastname}}</div>
      </div>
    </td>
    <td class="statusColumn" data-title="'Treatment Status'" filter="{'status.status': 'text'}" sortable="'status.status'">{{case.status.status}}</td>
    <td class="" data-title="'Technician'" filter="{'assignedTo.name': 'text'}" sortable="'assignedTo.name'">
      <span ng-if="(case.status.id != 0) && (case.status.id != 2)">{{case.assignedTo.name}}</span>
      <span class="safariSelectHack" ng-if="case.assignedTo.id == 0 && case.status.id == 2">
        <select ng-if="case.assignedTo.id == 0 && case.status.id == 2" name="selectatech" id="" ng-model="case.assignedTo" ng-options="tech as tech.firstname + ' ' + tech.lastname for tech in listOfTechs" ng-change="setTechnician(case)">
          <option value=''>Select a Technician</option>
        </select>
      </span>
      <span class="safariSelectHack" ng-if="case.assignedTo.id != 0 && case.status.id == 2">
        <select  ng-if="case.assignedTo.id != 0 && case.status.id == 2" name="techselection" id="" ng-model="case.assignedTo" ng-options="tech as tech.firstname + ' ' + tech.lastname for tech in listOfTechs" ng-change="setTechnician(case)">
          <option value=''><b>{{case.assignedTo.firstname}} {{case.assignedTo.lastname}} </b></option>
        </select>
      </span>
    </td>
    <td class="" data-title="'Clinician'" filter="{'assignedToDiagnostician.name': 'text'}" sortable="'assignedToDiagnostician.name'">
      <span ng-if="case.assignedToDiagnostician.id != 0 && case.status.id != 4">{{case.assignedToDiagnostician.name}}</span>
      <span class="safariSelectHack" ng-if="case.assignedToDiagnostician.id == 0 && case.status.id == 4">
        <select ng-if="case.assignedToDiagnostician.id == 0 && case.status.id == 4" name="selectadiagnostician" id="" ng-model="case.assignedToDiagnostician" ng-options="diagnostician as diagnostician.firstname + ' ' + diagnostician.lastname for diagnostician in listOfDiagnosticians" ng-change="setDiagnostician(case)">
          <option value=''>Select</option>
        </select>
      </span>
      <span class="safariSelectHack" ng-if="case.assignedToDiagnostician.id != 0 && case.status.id == 4">
        <select  ng-if="case.assignedToDiagnostician.id != 0 && case.status.id == 4" name="diagnosticianselection" id="" ng-model="case.assignedToDiagnostician" ng-options="diagnostician as diagnostician.firstname + ' ' + diagnostician.lastname for diagnostician in listOfDiagnosticians" ng-change="setDiagnostician(case)">
          <option value=''><b>{{case.assignedToDiagnostician.firstname}} {{case.assignedToDiagnostician.lastname}}</b></option>
        </select>
      </span>
    </td>
    <td class="" data-title="'Final Reviewer'" filter="{'assignedToFinalReviewer.name': 'text'}" sortable="'assignedToFinalReviewer.name'">
      <span class="safariSelectHack"  ng-if="case.assignedToFinalReviewer.id == 0 && case.status.id == 8 ">
        <select name="finalReviewerSelection" ng-model="case.assignedToFinalReviewer"
        ng-options="finalReviewer as finalReviewer.firstname + ' ' + finalReviewer.lastname for finalReviewer in listOfFinalReviewers" ng-change="setFinalReviewer(case)">
          <option value=''>Select</option>
        </select>
      </span>
      <span class="safariSelectHack" ng-if="case.assignedToFinalReviewer.id != 0 && case.status.id == 8">
        <select  ng-if="case.assignedToFinalReviewer.id != 0 && case.status.id == 8" name="finalReviewerSelection" id="" ng-model="case.assignedToFinalReviewer"
        ng-options="finalReviewer as finalReviewer.firstname + ' ' + finalReviewer.lastname for finalReviewer in listOfFinalReviewers" ng-change="setFinalReviewer(case)">
          <option value=''><b>{{case.assignedToFinalReviewer.firstname}} {{case.assignedToFinalReviewer.lastname}}</b></option>
        </select>
      </span>
    </td>
    <td ng-class="{'daysGreen' : daysSubmitted <= 6, 'daysYellow' : daysSubmitted > 6 && daysSubmitted <= 10, 'daysRed' : daysSubmitted > 10}" data-title="'Days in Queue'">{{getDaysSubmitted(case.submittedDate)}}</td>
    <!-- <td class="originalDateSubmittedColumn" data-title="'Original Date Created'" filter="{'paymentCompletedDate': 'text'}" sortable="'paymentCompletedDateSort'">{{case.paymentCompletedDate}}</td> -->
    <td class="originalDateSubmittedColumn" data-title="'Original Date Created'" filter="{'originalSubmittedDate': 'text'}" sortable="'originalSubmittedDateSort'">{{case.originalSubmittedDate}}</td>

    <td filter="{'tag.title' : 'filter/tagHeader.html'}" data-title="'Tag'" style="position:relative;">
      <ul  ng-show="case.selected"  class="tagContainer">
        <li ng-repeat="tag in tagSelections" ng-click="changeTagColor(case, tag)">
            <div id="{{tag.id}}" ng-class="{'defaultTag' : !tag.id}" class="tagStyle" style="background-color:{{tag.color}};">{{tag.name}}</div>
        </li>
      </ul>
      <div id="{{case.id}}" ng-class="{'defaultTag' : !case.tag.id}" class="tagStyle" style="background-color:{{case.tag.color}};" ng-click="openCaseTag(case)">{{case.tag.name}}</div>
    </td>
    <td class="delete" data-title="'Hide Case'" ng-if="!case.adminHide"><i class=" fa fa-folder-open" ng-click="hideCase(case)"></i> {{hiddenFile}}</td>
    <td class="delete" data-title="'Undo Hide Case'" ng-if="case.adminHide"><i class=" fa fa-undo" ng-click="undoHideCase(case)"></i> {{shownFile}}</td>

  </tr>
</table>
